.titlecards {
  margin-top: 50px;
  margin-bottom: 30px;
}

.titlecards h2 {
  margin-bottom: 8px;
}

.card-list {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.card-list {
  scrollbar-width: none;
}
.card-list::-webkit-scrollbar {
  display: none;
}

.card-list img {
  width: 300px;
  border-radius: 4px;
  cursor: pointer;
}

.card {
  position: relative;
}

@media (max-width: 768px) {
  .titlecards {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .card-list img {
    width: 200px;
    border-radius: 4px;
    cursor: pointer;
  }
}
